/*Main menu 
-----------------------------------------------------
---*/

.main-menu{
    width:  100%;
    background-color: #59b210;
    height: 50px;
    font: 14px/18px "OpenSansBold",sans-serif;

}

.main-menu ul li {
    float:  left;
    position: relative;
    list-style: none;
    border-right: 1px solid #4d9b0e;
}

.main-menu ul>li>a {
	line-height: 50px;
	color: #ffffff;
	text-decoration: none;
	display: block;
	padding: 0 25px;
}
/* 2 уровень
-----------------------------------------------------
*/
.main-menu  li  ul{
	position: relative;
	list-style: none;
	z-index: 10;
	display: none;
	text-decoration: underline;
}
.main-menu ul >li >ul> li{
	float: initial;
	height: 50px;
	width: 205px;
	text-align: center;
	size: 15px;
	background: #f2f2f2;
}
.main-menu li ul a {color:#7f7f7f;}

.main-menu li:hover ul {display: block;}

.main-menu li:hover {background: #54a90f}