*{
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
article,aside,details,figcaption,figure,footer,header,
hgroup,main,nav,section,summary {
                display: block;
}

body {
    font: 12px/18px OpenSansRegular,sans-serif;
    height: 100%;

}

header {

    position: relative;
}

.wrapper {
    width: 100%;
    max-width: 1100px;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto;
}

.pull-bottom {
    position: absolute;
    bottom: 0;
    border-radius: 5px;
    box-shadow: 0 2px 3px #999;
}
/*Header
----------------------------------------------------------------------------
-----*/

.header {
    height:  150px;
    padding: 40px 0 31px;
}

/*Middle
-------------------------------------------------------------------------
------*/

.middle{
    width: 100%;
    padding: 0 0 100px;
    position:  relative;
    width: 1170px;
    margin:0 auto;
}

.middle ::after{
    display: table;
    clear: both;
    content: '';
}

.content {
    padding: 20px 20px 20px 230px; 
}


.content h1{
    padding-bottom: 15px;
}

.content p {
    text-align: justify;
    text-indent: 25px;
}


/* Left sidebar 
-----------------------------------------------------
*/

.left-sidebar{
    float: left;
    width: 210px;
}    

/* Left menu
----------------------------------
*/

.left-menu-wrapper{
   font-size:13px;
   font-family: "OpenSansBold", sans-serif;
}

.left-menu-wrapper a{
	text-decoration: none;
	color: #777;

}
.left-menu-wrapper .left-menu-title {
	padding: 17px;
	color: #fff;
	border-radius: 5px 5px 0 0;
	font-size: 16px;
	background-color: #59b210;
}

.left-menu-wrapper>ul {
	border-bottom:1px solid #eaeaea;
}
.left-menu >li {
	list-style: none;
}

.left-menu li :hover {
	color: #fff;
	background-color: #59b210;
}

.left-menu li: hover{
	border-left: 1px solid #59b210;
	border-right:1px solid #59b210;
}	

.left-menu >li a{
	display: block;
	padding: 10px 15px;
	list-style: none;
}			   

.left-menu > li> ul {
	display: none;
}
.left-menu>li :nth-child(2n){
	background-color: #333;
}
/*Footer
----------------------------------
*/

.footer{
    margin: -100px auto 0;
    height:  100px;
    background: #eaeaea;
    position: relative;
}

.footer .copyright {
    position: absolute;
    padding:  10px;
    bottom: 0;
}

.footer .footer-menu li {
    list-style: none;
    margin: 10px;
    float: left;
}
/* Commom style
-----------------------------------------*/
.container{
	padding-right: 15px;
	padding-left: 15px;
	margin: 0 auto;
    
}

.padding-top-20{
	padding-top: 20px;
}

.container{
	width: 1170px;
}

.top-bar{
	height: 35px;
	background-color:#f9f9f9;
	border-bottom: 1px solid #e2e2e2;

}

.top-bar ul li{
	list-style: none;
	float: left;
}

.top-bar ul li a{
	text-decoration: none;
	line-height: 35px;
	padding:3px 15px;
	border-right: 1px solid #e0e0e0;
	color:#848484;
}

.top-bar ul li a:hover, .top-bar il li a:focus, .top-bar ul li a:active {
	color:#59b210;
}

.pull-right {
	float: right;
}